wr_arria10_ftm4_atx_pll/wr_arria10_ftm4_atx_pll/*
wr_arria10_ftm4_cmu_pll/wr_arria10_ftm4_cmu_pll/*
wr_arria10_ftm4_det_phy/wr_arria10_ftm4_det_phy/*
wr_arria10_ftm4_phy/wr_arria10_ftm4_phy/*
wr_arria10_ftm4_rst_ctl/wr_arria10_ftm4_rst_ctl/*
