*.*\#
\#*
.\#*
*.*~
syn/
work
*.wlf
modelsim.ini
transcript
*.vstf
*.bak
*.vcd
*.h
doc/
*.o
*.bin
*.elf
*.ucdb
*.xml
*.bsf
*.cmp
*.qgsynthc
Makefile
xgui/
*.orig

**/synth/*
**/sim/*
**/*_bb.v
**/*_inst.v
**/*_inst.vhd
