wr_arria10_scu4_atx_pll/wr_arria10_scu4_atx_pll/*
wr_arria10_scu4_cmu_pll/wr_arria10_scu4_cmu_pll/*
wr_arria10_scu4_det_phy/wr_arria10_scu4_det_phy/*
wr_arria10_scu4_phy/wr_arria10_scu4_phy/*
wr_arria10_scu4_rst_ctl/wr_arria10_scu4_rst_ctl/*
